.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 13px;
    padding: 0 16px;
}

.input {
    border: 1px solid #DEDFE0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    margin-right: 8px;
    padding: 4px 8px;
}

.dropdown {
    border-radius: 0;
    border: 1px solid #DEDFE0;
    background: white;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    margin-right: 8px;
}