.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 13px;
    padding: 0 16px;
}

.title {
    margin: 10px 0;
}

.button {
    display: flex;
    justify-content: space-between;
}

.error {
    color: red;
    font-size: bold;
}